.row {
  display: table;
  width: 100%;
}
[class*='col-'] {
  float: left;
  margin: 0 1% 1% 0;
}
.last {
  margin-right: 0;
}
.col-1-1 {
  width: 100%;
}
.col-1-4 {
  width: 24.25%;
}
.col-1-2 {
  width: 49.5%;
}
#background {
  display: none;
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  background: #eee;
  color: #777;
}
.container {
  width: 45em;
  margin-left: auto;
  margin-right: auto;
}
.content,
.footer {
  margin: 1em 0;
  padding: 1em 0;
}
header {
  padding-top: 0 !important;
  margin-top: 0 !important;
  background: #fff;
}
input[type="text"],
textarea,
.seo-title {
  margin: 0 auto 1em auto;
  display: table;
  width: 80%;
  padding: 8px;
  outline: none;
  font-family: 'Roboto', sans-serif;
  border: 1px solid #ddd;
  background: #fff;
  color: #333;
  border-radius: 6px;
}
input[type="text"]:disabled {
  background: #eee;
}
.seo-title {
  margin-bottom: 2em;
  font-size: 1.618em;
}
.seo-data input[type="text"],
.seo-data textarea {
  width: 100%;
  padding: 2px 4px;
  margin: 0;
}
.seo-data textarea {
  height: 100px;
}
.seo-data label {
  padding: 2px;
}
.seo-data fieldset {
  margin-bottom: 1em;
  border: none;
  outline: none;
}
.seo-data fieldset:last-child {
  margin: 0;
}
.seo-data fieldset div {
  width: 75%;
  display: table;
  float: right;
}
.seo-data fieldset div p {
  margin: 1px 0 5px 0;
  font-size: 12px;
}
span {
  font-weight: bold;
}
.chars-left {
  color: #2ecc71;
}
section {
  border-bottom: 1px solid #ddd;
  margin: 4em 0;
  padding: 0 0 4em 0;
}
section:last-child {
  border: none;
  margin-bottom: 1em;
}
section h2 {
  color: #327ccb;
  font-size: 2em;
  text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: 400;
  font-family: 'Roboto Slab', serif;
}
.banner,
.header {
  background: url('../img/bg.png');
  color: #fff;
}
.banner a,
.header a {
  color: #fff;
}
.header {
  border-bottom: 1px solid #2d70b7;
}
.banner {
  padding: 3em 0;
}
.title {
  margin: 0;
  font-size: 4em;
  font-weight: 400;
  text-shadow: 2px 2px 2px #23578e;
}
.slogan {
  margin: 0;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.618em;
}
nav {
  display: table;
  width: 100%;
}
nav ul {
  display: table;
  float: right;
  margin: 0 auto;
  padding: 0.618em 0;
  list-style: none;
}
nav ul li {
  float: left;
  margin-right: 2em;
}
nav ul li a:hover {
  text-decoration: none;
}
.metricas {
  display: none;
  color: #333;
}
.text-red {
  color: #e74c3c;
}
.text-green {
  color: #2ecc71;
}
.check-button {
  display: table;
  padding: 0.618em 2em;
  font-size: 2em;
  background: url('../img/green.png');
  text-shadow: 1px 1px 1px #25a25a;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  margin: 2em auto 0 auto;
  border: 2px solid #2ecc71;
}
.check-button:hover {
  border: 2px solid #25a25a;
}
.errors {
  display: none;
  margin: 4em auto 0 auto;
  background: #fff;
  padding: 1em;
  border-radius: 0.2em;
  border: 1px solid #ccc;
}
.errors h2 {
  color: #e74c3c;
}
.errors-list {
  margin-left: 0;
  padding-left: 0;
}
.error {
  color: #e74c3c;
  list-style: none;
}
.errors-title {
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.618em;
}
.snippet-review {
  width: 530px;
  font-family: arial, sans-serif;
  margin: 0 auto;
  background: #fff;
  padding: 10px;
  border-radius: 4px;
}
.snippet-review-title {
  color: #11c;
  font-size: 16px;
  line-height: 19px;
  text-decoration: underline;
}
.snippet-review-desc,
.snippet-review-url {
  margin-bottom: 0;
  display: block;
  line-height: 16px;
}
.snippet-review-url {
  font-size: 14px;
  color: #006621;
  text-decoration: none;
  margin-bottom: 2px;
}
.snippet-review-desc {
  font-size: 13px;
  color: #444;
  margin-top: 0;
}
.score {
  display: none;
}
.score-item {
  display: table;
  margin-bottom: 1em;
}
.score-item span.score-num {
  color: #333333;
}
.test {
  padding: 1em;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #ccc !important;
}
.test ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
.test .comment,
.test .dark-grey {
  font-family: 'Roboto Slab', serif;
  display: inline;
  color: #666;
  font-weight: 400;
}
.test .fa {
  margin-right: 0.618em;
}
.fa-minus-square {
  color: #e67e22;
}
.fa-check-square {
  color: #2ecc71;
}
.footer {
  color: #fff;
  padding: 2em 0;
  margin-bottom: 0;
  background: #333;
}
.footer .icons {
  padding-bottom: 2em;
  border-bottom: 1px solid #555;
  margin-bottom: 2em;
}
.footer .icons div {
  text-align: center;
}
.footer .footer-info {
  font-size: 14px;
  letter-spacing: 1px;
}
.footer a {
  color: #fff;
}
